<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResuMeister</title>
    <link rel="stylesheet" href="../../../static/home.css">
    <link rel="icon" type="image/x-icon" href="../../../static/images/favicon.ico">
</head>
<body>
    <div class="main-body">
        <div class="upper-nav">
           
            <h1>ResuMeister</h1>
            <div class="buttons-sec">
                <input type="submit" value="Login" onclick = 'location.href = "/login"'>
            <input type="submit" value="Register" onclick = 'location.href = "/register"'>
            </div>
        </div>
        <div class="lower-half">
            <div class="left-sec">
                <div class="content-text">
                <h1>
                    Your career starts with <br>a great resume.
                </h1>
                <p id="content">Stand out from the crowd with a contemporary resume. Receive professional advice, tailor-made templates, and a fast PDF download to make your resume truly unique.</p>
                </div>
                <input id="try-now" type="submit" value="Try Now" onclick = 'location.href = "login"'>
            </div>
            <div class="right-sec">
                <img src="/static/images/landingpage.svg" alt="Hello" id="image1">
            </div>
        </div>
    </div>
</body>
</html>