<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResuMeister</title>
</head>
<link rel="stylesheet" href="../../../static/main.css">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<body>
    <div class="upper-nav">

        <h1>ResuMeister</h1>
        <div class="buttons-sec">
            {% comment %} <input type="submit" value="Log Out" onclick = "location.href = 'login.html'" id="logout">  {% endcomment %}
            <input type="submit" value="Log Out" onclick = 'location.href = "/login"' id="logout">


        </div>
    </div>
    <div class="main-body">
        <div class="level1">
            <div class="left-sec">
        <h1>Upload Existing Resume</h1>
        <form action="{% url 'resumeister_app:Upload Resume' title %}"  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Upload .doc/.docx or .pdf file</h4>
            {{ form }}
{#            <input type="file" accept="application/msword,application/pdf" id="resume_file" name="resume">#}
            <input type="submit" value="Upload">
        </form>
        <input type="submit" value="Skip" onclick ="skip()" id="CreateNewbtn">
    </div>
    </div>
    </div>
    <script>
        function deleteCard(card) {
            card.remove();
        }
    </script>
    <script>
        function eraseCookie(name) {
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
        eraseCookie("parse_data")
        eraseCookie("extract_data")
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        function skip(){
            eraseCookie("parse_data")
            window.location.assign("/createResume/{{ title }}")
        }
    </script>
</body>
</html>