<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResuMeister</title>
    <link rel="stylesheet" href="register.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <div class="main-sepration">
        <div class="title-half">
            <div class="title-content"></div>
            <h1 id="name-title">ResuMeister</h1>
            <h2><i>"Building Careers One Resume at a Time."</i></h2>
            <image src="images/registerImage.svg" alt="resume" id="resume-image">
        </div>

        <div class="register-half">
            <div class="register-box">
                <div class="register-title">
                    <h1>Register</h1>
                </div>
                <div class="register-form">
                    <form class="register-form-content">
                        
                        <div class="name-sec">
                        <input type="text" id="firstName" name="firstName" placeholder="First name" required>
                        <input type="text" id="lastName" name="lastName" placeholder="Last name" required>
                        
                        </div>
                        <br>
                        <input type="email" id="email" name="email" placeholder="Email" required>
                        <br>
                        
                        <input type="password" id="pass" name="pass" placeholder="Password" required>
                        <br>
                        
                        <input type="password" id="confirmPass" name="confirmPass" placeholder="Confirm your password" required>
                        <br>
                        <!-- Just a temp onclick event for smooth transition -->
                        <input type="submit" value="Register" onclick = 'location.href = "login.html"'> 
                      </form>
                      
                    <!-- <h4>Don't have an account yet? <a href="register.html" id="register">Click Here</a> to register</h4> -->
                </div>
            </div>
        </div>
    </div>
    <script src="register.js"></script>
</body>
</html>